* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0
}

*,:after,:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-size: 10px;
}
body {
    background-color: #fff;
    color: #747474;
    font-family: 'Bai Jamjuree', sans-serif;
    margin: 0 auto !important;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
    max-width: 170rem;
}
a, a img, img {
    transition: all .2s linear;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
}
abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
}
ul  {
    list-style: none;
    padding-left: 0
}
.container {
    max-width: 144rem;
    margin: 0 auto;
    padding: 0 2rem;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
.alignCenter {
    align-items: center;
}
.spaceBetween {
    justify-content: space-between;
}
.header-fixed {
    padding: 3rem 0;
}
.logowrapper .logo img {
    width: 26rem;
}
.navigationwrapper ul li {
    padding:0 3rem;
}
.navigationwrapper ul{
    display: inline-flex;
    list-style: none;
}
.navigationwrapper ul li a {
    color: #3E2089;
    font-family: Bai Jamjuree;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: -0.456px;
    text-decoration: none;
}
.navigationwrapper ul li a:hover , .navigationwrapper ul li.active a, .primaryColor {
    color: #FB3E44;
}
.secondaryColor {
  color: #3E2089;  
}
.primaryBG {
    background: #3E2089;
}
.mainbanner .videowrapper {
    height: 78rem;
}
.mainbanner .videowrapper video {
    object-fit: cover;
}
.pdequalsec {
    padding:10rem 0;
}
.mgB52 {
    margin-bottom: 52px;
}
h2 {
    font-size: 10.8rem;
    color: #000;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.273px;  
}
h3 {
    color: #000;
    font-size: 6.7rem;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.273px;
}
.col-2 {
    width: 20%;
}
.col-3 {
    width: 30%;
}
.col-4 {
    width: 40%;
}
.col-5 {
    width: 50%;
}
.col-6 {
    width: 60%;
}
.col-7 {
    width: 70%;
}
.appbutton img { width: 26rem; margin-top: 14rem;}
.mobilemoney .note {
    padding-top: 10rem;
    padding-left: 4rem;
}
.mobilemoney .note img{
    width: 100%;
}
.mobilemoney .pocketapp img.pocket {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    max-width: 33rem;
}
.mb30 {margin-bottom: 3rem;}
.mobilemoney .pocketapp {
    position: relative;
    text-align: center;
}
.mobilemoney .pocketapp img.phoneapp {
    max-width: 290px;
    position: relative;
    right: 4rem;
    top: 26px;
}
.whiteText {
    color: #fff;
}
.bgProperty {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.multiplefeaturesec {
    position: relative;
    z-index: 1;
}
.multiplefeaturesec:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    height: 100%;
    width: 100%;
}
.flow-content h2 {
    margin-bottom: 7rem;
}
p {
    color: #000;
    font-size: 2rem;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.38px;
}
.flow-truckapp img {
    width: 100%;
}
.flow-truckapp .truckflow {
    position: relative;
}
.flow-truckapp .truckflow:before {
    content: "";
    position: absolute;
    left: 7px;
    top: 3px;
    width: 1px;
    height: 60px;
    background: #717171;
}
.flow-truckapp .truckflow li{
    color: #4920AF;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.2; 
    padding-left: 4rem;
    letter-spacing: -0.456px;
    margin-bottom: 3rem;
    position: relative;
}
.flow-truckapp .truckflow li:before {
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    width: 14px;
    height: 14px;
    background: #717171;
    border-radius: 20px;
}
.flow-truckapp .truckflow li.active:before {
    width: 24px;
    height: 24px;
    background: #FB3E44;
    left: -4px;
    top: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.footerbelow {
    margin-bottom: -2px;
}
.keyfeaturesec .keyfeaturecntnt ul {
    display: flex;
    flex-wrap: wrap;
}
.keyfeaturesec .keyfeaturecntnt ul li {
    width: calc(100% / 4);
}
.keyfeaturesec .keyfeaturecntnt ul li .linnr {
    text-align: center;
    margin: 5rem 0;
}
.keyfeaturesec .keyfeaturecntnt ul li .linnr .iconBox .icon {
    width: 13rem;
    margin: 0 auto;
    height: 13rem;
}
.keyfeaturesec .keyfeaturecntnt ul li .linnr .iconBox .icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.keyfeaturesec .keyfeaturecntnt ul li .linnr .iconContent h4 {
    color: #FFF;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.2; /* 246.667% */
    letter-spacing: -0.57px;
    margin: 2rem 0;
}
.keyfeaturesec .keyfeaturecntnt ul li:nth-child(9) h4,
.keyfeaturesec .keyfeaturecntnt ul li:nth-child(10) h4,
.keyfeaturesec .keyfeaturecntnt ul li:nth-child(11) h4,
.keyfeaturesec .keyfeaturecntnt ul li:nth-child(12) h4 {
    color: #989898 !important;
}
.keyfeaturesec .keyfeaturecntnt ul li .linnr .iconBox {
    position: relative;
    transition: 0.5s;
}
.keyfeaturesec .keyfeaturecntnt ul li .linnr .iconBox:hover .hoverContent {
    opacity: 1;
    visibility: visible;
}
.hoverContent {
    position: absolute;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    background: #3e2089;
}
.hoverContent img {
    width: 100%;
    top: 0;
    position: absolute;
    left: 0;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}
.hoverContent  h4 {
    background: #fb3e44;
    color: #fff;
    font-size: 2.8rem;
    font-weight: 500;
    padding: 1rem;
}
.hoverContent p {
    color: #fff;
    padding: 2.6rem 2rem;
    font-size: 1.7rem;
}
.truckownersec .container-fluid {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(../images/happy-indian.jpg);
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    z-index: 1;
}
.truckownercntnt {
    position: relative;
    height: 100%;
    z-index: 0;
}
.truckownercntnt:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}
.truckownerpara {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.4);
    padding: 8.4rem;
}
.truckownerpara p {
    line-height: 1.4;
}
.truckownercntnt h2 {
    padding: 30px 30px;
    font-weight: 500;
}
.mask-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 80%;
    overflow: hidden;
}

.mask-image-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: url(../images/trackowner.jpg);
    background-position: center center;
    background-size: cover;
}
.border {
    position: absolute;
    width: 4px;
    height: 100vh;
    left: 80%;
    margin-left: -2px;
    background-color: rgba(0,0,0,0.4);
}
.truckownersec .circle {
    position: absolute;
    top: 0;
    left: 80%;
    cursor: ew-resize;
    height: 100%;
    margin-left: -8px;
}
.truckownersec .circle img {
    width: 100%;
    height: 100%;
}
/*Contact Details*/
.Contactbanner .flex {
    height: 52rem;
    align-items: flex-end;
    padding-bottom: 3rem;
}
.Contactbanner .bannercontent h3 {
    line-height: 1.2;
    max-width: 80rem;
}
.pdequalsec 
 .flex {
    padding-top: 6rem;
    padding-bottom: 10rem;
}
.col-third {
    width: calc(100% / 3);
}
.Cdetailswrap {
    text-align: center;
}
.Cdetailswrap .CdIcon {
    margin-bottom: 7rem;
}
.btn {background: #3E2089;color: #fff;text-align: center;font-size: 2.4rem;font-weight: 400;padding: 1.4rem 2.5rem;display: inline-block;text-decoration: none;}
.btn:hover {
    background: #fb3e44;
}
.Cddetail p.address {
    color: #3E2089;
    text-align: left;
    font-size: 4.2rem;
    font-weight: 500;
    line-height: 1.2; 
    letter-spacing: -0.798px;
    text-decoration-line: underline;
    padding: 5rem 0;
}
.teamContent h4 {
    color: #3F2E85;
    font-size: 4.5rem;
    font-weight: 500;
    letter-spacing: -0.855px;
}

.teamContent h6 {
    color: #373737;
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: -0.57px;
}
.teamContent h5 {
    color: #FB3E44;
    font-size: 3rem;
    font-style: italic;
    font-weight: 500;
    letter-spacing: normal;
    padding: 2rem 0 4rem;
}
.teamContent p {
    line-height: 1.4;
}
.teammembersec .teamboxes:nth-child(odd) .teamimage {
    padding-right: 5rem;
}
.teammembersec .teamboxes .teamimage img {
    width: 100%;
}
.teammembersec .teamboxes:nth-child(even) .teamimage {
    padding-left: 5rem;
}
.teammembersec .teamboxes:nth-child(even) {
    flex-direction: row-reverse;
}
.teammembersec .teamboxes:not(:last-child) {
    padding-bottom: 6rem;
}
.teammembersec {
    padding: 6rem 0;
}
.bgcolthird {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 32%;
    height: 100%;
}
.whowearesec .bgcolthird {
    left: 0;
}
.whatwedosec .bgcolthird {
    right: 0;
}
.poR {
    position: relative;
}
.pd60 {
    padding: 60px 0;
}
.whowearesec .whoweareContent {
    padding-left: 4rem;
}
.whatwedosec .whatwedoContent {
    padding-right: 4rem;
}
footer {
    background: #FB3E44;
    position: relative;
    z-index: 1;
}
.footershape {
    width: 65%;
    position: absolute;
    top: 0;
    height: 100%;
    z-index: -1;
    right: 0;
}
.footershape img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
footer .footerrow {
    padding: 7rem 0;
}
.footerlink {
    padding-left: 20rem;
}
footer h4 {
    color: #FFF;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.38px;
    margin-bottom: 4.6rem;
}
.footerlink ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    letter-spacing: -0.38px;
    margin-bottom: 2rem;
    display: inline-block;
}
footer .socialmedia ul {
    display: flex;
}
footer .socialmedia ul li {
    width: 6rem;
    padding: 0 0.5rem;
}
footer .socialmedia ul li img {
    width: 100%;
}
footer .socialmedia ul ~ img {
    width: 27rem;
    margin-top: 10rem;
}
.copyright {
    padding: 2rem 0;
    border-top: 1px solid #fff;
}
.featuredboxsec .flex {
    margin: 0 -40px;
}
.col-67 {
    width: 65%;
}
.col-33 {
    width: 35%;
}
.featuredboxsec .col-67, .featuredboxsec .col-33  {
    padding: 0 4rem;
}
/*blog css*/
.featuredbox .featuredboxinnr .featuredimage img {
    width: 100%;
    height: 100%;
}
.bloglistgrp .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.featuredbox .featuredboxinnr .featuredContent h6.date {
    color: #FB3E44;
    font-size: 4rem;
    text-align: right;
    font-weight: 500;
    line-height: normal;
    padding: 2rem 0;
    position: relative;
}
.featuredbox .featuredboxinnr .featuredimage {
    height: 59rem;
}
.bloglistgrp .image {
    height: 27rem;
}
.bloglistgrp {
    margin-bottom: 6rem;
}
.featuredbox .featuredboxinnr .featuredContent h6.date:before, .bloglistgrp .content h6.date:before {
    content: "";
    position: absolute;
    top: 36px;
    left: 0;
    background: #FB3E44;
    width: 65%;
    height: 1.5px;
}
.featuredbox .featuredboxinnr .featuredContent h4 {
    font-size: 6rem;
    color: #3E2089;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 2rem;
}
p.tag span, .bloglistgrp .content p.tag span {
    color: #FB3E44;
    margin-right: 12px;
}
.text-right {
    text-align: right;
}
.featuredbox .featuredboxinnr .featuredContent {
    margin-bottom: 6rem;
}
.bloglistgrp .content h6.date {
    color: #FB3E44;
    text-align: right;
    font-size: 2rem;
    font-weight: 500;
    padding: 2rem 0;
    position: relative;
}
.bloglistgrp .content h6.date:before {
    top: 24px;
}
.bloglistgrp .content h4 {
    color: #3F2E85;
    font-size: 3rem;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.57px;
    margin-bottom: 2rem;
}
.bloglistingsec .col-third {
    padding: 0 3rem;
}
.bloglistingsec .flex {
    margin: 0 -3rem;
}
/*blog Details*/
.blogsingle {
    padding: 20px 0;
}
.blogsingle .postheader h3 {
    color: #3E2089;
    font-size: 6rem;
    font-weight: 700;
    margin-bottom: 3rem;
    line-height: normal;
}
.blogsingle .postheader h4.date {
    color: #FB3E44;
    font-size: 4rem;
    text-align: left;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 0rem;
    position: relative;
}
.blogsingle .postheader h4.date:before {
    content: "";
    position: absolute;
    top: 19px;
    right: 0;
    background: #FB3E44;
    width: 80%;
    height: 1.5px;
}
.blogsingle .heroimage {
    padding: 2rem 0 6rem;
    height: 59rem;
}
.blogsingle .heroimage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.relatedslide  {
    padding: 0 2rem;
}
.relatedslider button:before {
    color: #3F2E85;
    font-size: 7rem;
}
.relatedslider button.slick-prev:before {
    content: "⌜";
}
.relatedslider button.slick-prev {
    transform: rotate(-45deg);
}
.relatedslider button.slick-next:before {
    content: "⌜";
}
.relatedslider button.slick-next {
    transform: rotate(130deg);
}
@media(max-width: 2560px) {
    html {
        font-size: 70%;
    }
    .mobilemoney .pocketapp img.phoneapp {
        max-width: 220px;
    }
}
@media(max-width: 1600px) {
    html {
        font-size: 60%;
    }
}
@media(max-width: 1440px) {
    html {
        font-size: 54%;
    }
}
@media(max-width: 1360px) {
    html {
        font-size: 48%;
    }
}
@media(max-width: 1200px) {
    html {
        font-size: 40%;
    }
}
@media(max-width: 1023px) {
    .container {
        padding: 0 20px;
    }
    .Contactbanner {
        background-position: top center !important;
        background-size: cover !important;
    }
}
@media(max-width: 769px) {
    h3 {
        font-size: 5rem;
    }
    .Contactbanner .bannercontent h3 {
        line-height: 1.2;
        max-width: 350px;
    }
    .Cddetail p.address {
        font-size: 3.8rem;
    }
    footer .socialmedia ul ~ img {
        width: 100%;
    }
    .featuredboxsec .col-67, .featuredboxsec .col-33 {
        padding: 0;
    }
    .col-67 , .col-33 {
        width: 100%;
    }
    .featuredboxsec .flex {
        margin: 0 auto;
    }
    .featuredbox .featuredboxinnr .featuredimage {
        height: 320px;
        margin: 0 -20px;
    }
}
@media(max-width: 479px) {
    /*header*/
    .navigationwrapper .humbugur-menu, .navigationwrapper .nav .close {
        display: inline-block !important;
    }
    .navigationwrapper .nav {
        display: none;
    }
    .navigationwrapper .nav {
        position: fixed;
        background: #3E2089;
        top: 0;
        z-index: 9;
        height: 100vh;
        left: 0;
        display: none;
        width: 100%;
    }
    .navigationwrapper .nav ul {
        display: block;
        text-align: center;
    }
    .navigationwrapper .nav .navinnr {
        display: flex;align-items: center;justify-content: center;height: 100%;
    }
    .navigationwrapper .nav ul li a {
        color: #fff;
        font-size: 17px;
    }
    .navigationwrapper .nav ul li.active a {
        color: #FB3E44;
    }
    .navigationwrapper .nav ul li {
        padding: 12px 10px;
    }
    .navigationwrapper .nav .close {
        position: absolute;
        top: 20px;
        right: 20px;
    }
    /*Contact*/
    .Contactbanner .bannercontent h3 {
        line-height: 1.2;
        max-width: 190px;
    }
    .pdequalsec .flex {
        padding-top: 0px;
        padding-bottom: 40px;
    }
    .col-third {
        width: calc(100% / 1);
    }
    .pdequalsec .flex .col-third:not(:last-child) {
        margin-bottom: 50px;
    }
    .Cdetailswrap .CdIcon {
        width: 42px;
        margin: 0 auto 15px;
    }
    .Cddetail p.address {
        font-size: 16px;
    }
    .Cdetailswrap .CdIcon svg {
        height: 100%;
        width: 100%;
    }
    .mapdetails iframe {
        height: 200px;
    }
    .mapdetails {
        margin: 0 -22px;
    }
    /*Footer*/
    .footershape {
        display: none;
    }
    footer {
        background: #3E2089 !important;
    }
    .footerlink {
        padding-left: 0px;
    }
    .col-3, .col-5, .col-2, .col-4, .col-6, .col-7 {
        width: 100%;
    }
    footer .col-5{
        width: 70%;
    }
    footer .col-2{
        width: 30%;
    }
    footer h4 {
        font-size: 20px;
        margin-top: 40px;
        margin-bottom: 10px;
    }
    footer .socialmedia ul li {
        width: 50%;
        margin: 8px 0;
    }
    footer .socialmedia ul {
        flex-wrap: wrap;
    }
    footer .socialmedia ul ~ img {
        margin-top: 28px;
    }
    .footercontent p {
        font-size: 16px;
    }
    .footercontent h3 {
        font-size: 50px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .footerlink ul li a {
        font-size: 20px;
    }
    .copyright {
        padding: 20px 0;
    }
    .copyright p {
        font-size: 16px;
    }
    /*about us*/
    .teammembersec .teamboxes:nth-child(even) .teamimage {
        padding-left: 0rem;
    }
    .teammembersec .teamboxes:nth-child(odd) .teamimage {
        padding-right: 0rem;
    }
    .teammembersec {
        padding-top: 20px; 
    }
    .teammembersec .teamboxes .teamimage {
        margin: 0 -20px 20px;
    }
    .whowearesec .whoweareContent {
        padding-left: 0;
    }
    .bgcolthird {
        width: 100%;
        height: 240px;
    }
    .whowearesec, .whatwedosec {
        padding-top: 280px;
    }
    h2 {
        font-size: 50px;
    }
    .featuredbox .featuredboxinnr .featuredContent h6.date {
        font-size: 20px;
    }  
    .featuredbox .featuredboxinnr .featuredContent h6.date:before, .bloglistgrp .content h6.date:before {
        top: 31px;
        width: 50%;
    }
    .featuredbox .featuredboxinnr .featuredContent h4 {
        font-size: 30px;
    }
    .bloglistgrp .image {
        height: 120px;
    }
    .bloglistingsec  {
        padding-top: 0px;
    }
    .bloglistingsec .col-third {
        width: 50%;
        padding: 0 10px;
    }
    .bloglistgrp .content h4 {
        font-size: 15px;
        margin-bottom: 10px;
    }
    .bloglistgrp .content h6.date:before {
        top: 21px;
        width: 50%;
    }
    p.tag span, .bloglistgrp .content h6.date {
        font-size: 12px;
    }
    .bloglistgrp {
        margin-bottom: 20px;
    }
    .bloglistgrp .content h6.date {
        font-size: 12px;
        padding: 10px 0;
    }
    .featuredgrp {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;
    }
    .featuredgrp  .bloglistgrp {
        padding: 0 10px;
        width: 50%;
    }
    .bloglistingsec .flex {
        margin: 0 -10px;
    }    
    .teammembersec {
        padding-top: 0px !important;
    }
    .navigationwrapper .nav ul li svg path {
        fill: #fff;
    }
}
